@import "../../assets/styles/variables.scss";

.entry {
  min-height: 100px;
  padding-bottom: 1.618em;

  &__heading {
    border-bottom: 1px solid #bbb;
    display: flex;
    font-family: 'Arial', sans-serif;
    justify-content: space-between;
    padding-bottom: 4px;
  }
}
