  <title>Mauro Colella - Software, Web, Mobile, Design, Development</title> <!-- ˜60 chars -->
  <meta name="description" content="Hello. My name is Mauro Colella. I am a Father, a software developer and a web developer."> <!-- ˜150 chars -->
  <meta property="og:title" content="Mauro Colella - Software, Web, Mobile, Design, Development">
  <meta property="og:description" content="Hello. My name is Mauro Colella. I am a Father, a software developer and a web developer."> <!-- ˜300 chars -->
  <meta property="og:site_name" content="Mauro Colella Web Design">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.mauro-colella.com">
