  <title>Mauro Colella - Freelance - Software &amp; Web Developer</title> <!-- ˜60 chars -->
  <!-- Device -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SEO -->
  <meta name="description" content="Hello. My name is Mauro Colella. I am a Father, a software engineer and a web developer."> <!-- ˜150 chars -->

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@nvisionmedia">

  <!-- OpenGraph -->
  <meta property="og:title" content="Mauro Colella - Software, Web, Mobile, Design, Development">
  <meta property="og:description" content="Hi, my name is Mauro Colella. I am a senior software developer with twenty years of activity in the IT industry. I develop great websites for great companies that offer great services, from DevOps, to responsive interfaces and tailored, well-optimized data visualizations."> <!-- ˜300 chars -->
  <meta property="og:site_name" content="Mauro Colella Web Design">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://mauro-colella.com">
  <meta property="og:image" content="https://api.mauro-colella.com/assets/images/mauro.png">
  <meta property="og:image:width" content="256">
  <meta property="og:image:height" content="256">

  <!-- Icons -->
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/icons/site.webmanifest">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/icons/favicon.ico">
