  <title>Mauro Colella - Freelance Software and Web Development</title> <!-- ˜60 chars -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Hello. My name is Mauro Colella. I am a Father, a software engineer and a web developer."> <!-- ˜150 chars -->
  <meta property="og:title" content="Mauro Colella - Software, Web, Mobile, Design, Development">
  <meta property="og:description" content="Hi, my name is Mauro Colella. I am a senior software developer with twenty years of activity in the IT industry. I develop great websites for great companies that offer great services, from DevOps, to responsive interfaces and tailored, well-optimized data visualizations."> <!-- ˜300 chars -->
  <meta property="og:site_name" content="Mauro Colella Web Design">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://mauro-colella.com">
