<!doctype html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <%- include('head'); %>
  </head>
  <body>
    <div id='root'>
      <noscript>
        This application requires javascript.
        <%-html%>
      </noscript>
    </div>
    <script src="/client.js"></script>
  </body>
</html>
