<!doctype html>
<html>
	<head>
		<title>Sample App</title>
	</head>
	<body>
		<div id='root'>
			<noscript>
				<%-root%>
			</noscript>
		</div>
		<script src="/vendor.js"></script>
		<script src="/common.js"></script>
		<script src="/app.js"></script>
	</body>
</html>
