<!doctype html>
<html prefix="og: http://ogp.me/ns#">
	<head>
		<%- include('head'); %>
		<style>
			* {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
			}

			.login {
				align-items: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100vh;
			}

			.login__button {
				border: 1px solid #AAA;
				border-radius: 2px;
				box-shadow: 0 0 8px 0px #CCC;
				font-family: Arial;
				padding: 10px;
				text-decoration: none;
				text-transform: capitalize;
			}

			.login__button:hover {
				box-shadow: 0 0 8px 0px #BBB;
			}
		</style>
	</head>
	<body>
		<main class="login">
			<a class="login__button" href="login/facebook">Login</a>
		</main>
	</body>
</html>
