@import "../../assets/styles/variables.scss";

.navbar {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 312px;
  width: 100%;
  z-index: 9;

  &--sticky {
    position: fixed;
    top: 0;
  }
}

.nav {
  background-color: #fff;
  box-shadow: 0px 5px 8px -2px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  height: 49px;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;

  &__item {
    display: flex;
    height: 100%;
    text-transform: uppercase;
    width: 100%;
  }

  &__link {
    border-bottom: 0px solid transparent;
    color: #111;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    padding-bottom: 3px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &--active,
    &--hover
    /* &:active */ {
      border-bottom-width: 3px;
      color: $highlight-color;
      padding-bottom: 0;
    }

    &--active {
      border-color: $highlight-color;
    }

    &--sticky {
      border-color: #fff;
      color: #fff;
    }
  }

  &__indicator {
    background-color: $highlight-color;
    bottom: 0;
    height: 3px;
    pointer-events: none;
    position: absolute;
    transition: height 0.2s ease, left 0.4s ease;
  }

  &__icon {
    font-size: 36px;
    @media (min-width: 769px){
      display: none;
    }

    &--person:after {
      content: 'person';
    }

    &--phonelink:after {
      content: 'phonelink';
    }

    &--business:after {
      content: 'business';
    }

    &--reorder:after {
      content: 'reorder';
    }
  }

  &__label {
    @media (max-width: 768px){
      display: none;
    }
  }

  &--sticky {
    background-color: #111;

    & .nav__indicator {
      background-color: #fff;
    }
  }
}
