.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

  &__entry {
    flex: 100%;
    padding-bottom: 6px;
    padding-top: 6px;

    @media (min-width: 768px) {
      flex: 50%;
      max-width: 50%;

      &:nth-child(even) {
        padding-left: 6px;
      }

      &:nth-child(odd) {
        padding-right: 6px;
      }
    }
  }
}
