.viewport{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px 0;
    position: relative;

    @media (min-width: 768px) {
      margin: 0;
    }
}

.gl{
    cursor: grab;
    left: 50%;
    height: 127% !important;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 127% !important;

    @media (min-width: 768px) {
      height: 180% !important;
      width: 180% !important;
    }

}

.gl:active{
    cursor: grabbing;
}
