.viewport{
	align-items: center;
	border: 1px solid #e9e9e9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 400px;
	overflow: hidden;
	position: relative;
}

.gl{
	cursor: grab;
	height: 100% !important;
	position: absolute;
	width: 100% !important;
}

.gl:active{
	cursor: grabbing;
}
