.viewport{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 400px;
	overflow: hidden;
	position: relative;
}

.gl{
	cursor: grab;
	height: 100% !important;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 100% !important;
	transform: translate(-50%,-50%);

}

.gl:active{
	cursor: grabbing;
}
