.button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border-radius: 50%;
    bottom: 16px;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 10px,
        rgba(0, 0, 0, 0.31) 0px 3px 10px;
    cursor: pointer;
    height: 56px;
    opacity: 0;
    outline: none;
    pointer-events: none;
    position: fixed;
    right: 16px;
    width: 56px;
    transition: 0.4s opacity ease;

    &--visible {
        opacity: 1;
        pointer-events: auto;
    }

    &__icon {
        fill: #111;
        stroke: transparent;
    }

    &:active {
        .button__icon {
            fill: #444;
        }
    }

    @media (min-width: 768px){
        bottom: 24px;
        right: 24px;
    }
}
