.dashboard {
	background-color: #fff;
	color: #555;
	margin: 0 auto;
	max-width: 40em;
	padding: 0.825em 4% 3.3em;
	transform: translate3d(0,0,0);
	width: 92%;
}

.dashboard__header{
	padding-top: 1.65em;
}

.dashboard__title {
	color: #222;
}
