@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.entry {
  animation: fadein 0.8s;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px #999;
  cursor: pointer;
  padding: 24px;
  transition: 0.2s box-shadow ease;

  &:hover {
    box-shadow: 0px 0px 3px 0px #ccc;
  }

  &__header {
  }

  &__title {
    font-variant: all-small-caps;
  }

  &__image {
    height: 100%;
    width: 100%;
  }
}

@include fadein;
