@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.entry {
  animation: fadein 0.8s;
  border-radius: 3px;
  cursor: pointer;

  &__header {
  }

  &__title {
    font-variant: all-small-caps;
  }

  &__image {
    height: 100%;
    width: 100%;
  }
}

@include fadein;
