@import url('https://fonts.googleapis.com/css?family=Open+Sans|Archivo+Narrow|Material+Icons');

* {
  box-sizing: border-box;
}

html,
body {
  -webkit-overflow-scrolling: touch;
}

html,
body,
:global(#root) {
  height: 100%;
}

:global(main) {
  display: block;  /* ie11 */
}

a {
  outline: 0;
}

.app{
  display: flex;
  height: 100%;
  width: 100%;
}
