@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather');

* {
	box-sizing: border-box;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
	font-weight: 600;
}

.app{
	display: flex;
	width: 100%;
}
