.page {
	background-color: #fff;
	color: #555;
	display: flex;
	flex: 2;
	flex-direction: column;
	font-weight: 300;
	margin: 0 auto;
	max-width: 40em;
	padding: 0.825em 4% 3.3em;
	transform: translate3d(0,0,0);
	width: 92%;

	&__header{
		padding-top: 1.65em;
	}

	&__title {
		animation: fadein 0.4s;
		color: #333;
		font-weight: 300;
	}
}

.article {
	margin-bottom: 45px;
}

.tag {
	background-color: #fff;
	border: 1px solid #c9c9c9;
	border-radius: 2px;
	box-shadow: 0px 1px 1px 0 #eee;
	color: #888;
	display: inline-block;
	font-size: 0.65em;
	font-weight: bold;
	margin: 1px;
	padding: 0.4em 0.8em;
	text-transform: uppercase;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
