@import "mixins.scss";
@import "variables.scss";

.page {
  background-color: #fcfcfc;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  box-shadow: 16px 24px 8px -16px #bcbcbc,
    -16px 24px 8px -16px #bcbcbc;
  color: #555;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  padding: 48px 24px 24px 24px;

  &__header{
    margin-bottom: 1em;
    padding-top: 1.65em;
  }

  &__title {
    animation: fadein 0.4s;
    color: #333;
    font-weight: 300;
  }

  @media (min-width: 768px) {
    @include container-lg;
  }
}

.article {
  margin-bottom: 36px;

  &--404 {
    margin-top: 108px;
    text-align: center;
  }
}

.lastModified {
  border-bottom: 1px solid #bbb;
}

.tag {
  background-color: #eee;
  border: 0px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 65%;
  height: 100%;
  margin: 3px;
  outline: none;
  padding: 6px 12px;
  text-transform: uppercase;
  transition: 0.4s color ease;
  white-space: nowrap;
  width: 100%;

  &--dim {
    color: #ccc;
  }

  &--related {
    color: $highlight-color;
  }

  &--reset {
    background-color: white;
    color: $highlight-color;
  }

  &__icon {
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
  }

  @media (min-width: 768px){
    font-size: 12px;
  }
}

.flatList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.search {
  border-bottom: 1px solid #ccc;
  display: flex;
  margin: 12px 0;
  transition: 0.4s border-bottom-color ease;
  width: 100%;

  &--active {
    border-bottom-color: #333;
  }

  &__field {
    background-color: transparent;
    border: 0;
    flex: 1;
    outline: 0;
    padding: 12px;
  }

  &__button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  &__icon {
    margin: 12px;
    pointer-events: none;
  }
}

.legend{
  color: $highlight-color;
}

@include fadein;
