.sidebar {
	background-color: #fff;
	box-shadow: 1px 0px 48px 0px #888;
	color: #eee;
	cursor: pointer;
	font-size: 14px;
	margin-left: -35.9vw;
	max-width: 38.2vw;
	padding: 1em;
	transition: margin-left 0.8s ease-out;
	transform: translate3d(0,0,0);
	z-index: 1;
}

.sidebar:hover {
	margin-left: 0;
}
