.notice {
  background-color: #001020;
  color: #ddd;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  justify-content: space-evenly;
  left: 0;
  padding: 24px;
  position: fixed;
  bottom: 0;
  transition: 0.6s opacity ease;
  width: 100%;
  z-index: 10;

  &__link {
    color: #787878;
  }

  &--fade {
    opacity: 0;
  }

  &__text {
    padding: 0 12px;
  }

  &__dismiss {
    background-color: transparent;
    border: 0px;
    color: #787878;
    cursor: pointer;
    float: left;
    outline: 0;
    vertical-align: middle;
  }

  &__accept {
    background-color: transparent;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    left: 50%;
    margin: 6px;
    outline: 0;
    padding: 6px;
    text-transform: uppercase;
    transition: 0.2s all ease;

    &:active,
    &:hover {
      background-color: #fff;
      color: #333;
    }
  }
}
